
@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Aplics Core
                </h1>
                <small>
                    Página de inicio para describir las prestaciones del sistema.
                </small>
            </div>
        </div>
    </div>
</div>


