     <div class="row mt-3">
        <div class="col-md-12">
            <table id="tblConsultaNomina" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">               
            </table>
        </div>
    </div>